apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-customer-pv-claim
  labels:
    app: customer
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi